body{
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
h2{
    color: #BFB574;
}
h1{
    color:#A30D0D;
}
p{
    color:white;
}
